<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home" routerLinkActive="active">
      <h1>Bloggy</h1>
    </a>

    <!-- <ng-container *ngFor="let btnName of btns">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="#"
              routerLink="/home"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >{{ btnName }}</a
            >
          </li>
        </ul>
      </div>
    </ng-container> -->

    <div class="d-flex" id="navbarSupportedContent">
      <ul class="mr-5 navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">{{
            username | titlecase
          }}</a>
        </li>
      </ul>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <button type="button" class="btn btn-primary" (click)="logout()">
            Logout
          </button>
        </li>
      </ul>
    </div>

    <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">{{
            btnName
          }}</a>
        </li>
      </ul>
    </div> -->
  </div>
</nav>
